<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartToJson.Properties.Messages" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ChartToJson.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ChartToJson.MEFPlugins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ChartToJson.Properties.UndoRedoNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartToJson.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ChartToJson.MEFPlugins" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <ChartToJson.Properties.Messages>
            <setting name="AnimateProgressTo" serializeAs="String">
                <value>AnimateProgressTo</value>
            </setting>
            <setting name="SetProgressTo" serializeAs="String">
                <value>SetProgressTo</value>
            </setting>
            <setting name="GetCanvasRender" serializeAs="String">
                <value>GetCanvasRender</value>
            </setting>
        </ChartToJson.Properties.Messages>
        <ChartToJson.Properties.Settings>
            <setting name="Texts_NoEntitySelected" serializeAs="String">
                <value>Must select an entity or press "Cancel" button.</value>
            </setting>
            <setting name="NewFileConfirmationMessage" serializeAs="String">
                <value>You are about to create an empty new file. Do you want to save your current file?</value>
            </setting>
            <setting name="OpenFileErrorMessage_ResourceDictionaryPluginNotFound"
                serializeAs="String">
                <value>The file contains one or more "ResourceDictionary" plugins that are not currently loaded:</value>
            </setting>
            <setting name="OpenFileErrorMessage_General" serializeAs="String">
                <value>There were an error trying to load the file with path "$".</value>
            </setting>
            <setting name="OpenFileErrorMessage_VMPluginNotFound" serializeAs="String">
                <value>The file contains one or more "IChartEntityViewModel" plugins that are not currently loaded:</value>
            </setting>
            <setting name="ExportToJSONDialogTitle" serializeAs="String">
                <value>Export to JSON file</value>
            </setting>
            <setting name="ExportToImageDialogTitle" serializeAs="String">
                <value>Export to image file</value>
            </setting>
            <setting name="MainWindowTitlePrefix" serializeAs="String">
                <value>Flow chart to Json</value>
            </setting>
            <setting name="DefaultCanvasWidth" serializeAs="String">
                <value>1900</value>
            </setting>
            <setting name="DefaultCanvasHeight" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="OpenFileConfirmationMessage" serializeAs="String">
                <value>You are about to open a saved file. Do you want to save your current file?</value>
            </setting>
            <setting name="MEFPluginTemplatesKeysString_Content" serializeAs="String">
                <value>CONTENT</value>
            </setting>
        </ChartToJson.Properties.Settings>
        <ChartToJson.MEFPlugins>
            <setting name="MEFPlugins_PluginsToLoadFolder" serializeAs="String">
                <value>PTL</value>
            </setting>
        </ChartToJson.MEFPlugins>
        <ChartToJson.Properties.UndoRedoNames>
            <setting name="Entities_Add" serializeAs="String">
                <value>Add new entity</value>
            </setting>
            <setting name="Entities_Remove" serializeAs="String">
                <value>Remove selected entities</value>
            </setting>
            <setting name="Entities_AddTextEntity" serializeAs="String">
                <value>Add new text entity</value>
            </setting>
            <setting name="Entities_AddText" serializeAs="String">
                <value>Add new textbox</value>
            </setting>
            <setting name="General_Cut" serializeAs="String">
                <value>Cut selected items</value>
            </setting>
            <setting name="General_Paste" serializeAs="String">
                <value>Paste selected items</value>
            </setting>
            <setting name="General_Duplicate" serializeAs="String">
                <value>Duplicate selected items</value>
            </setting>
        </ChartToJson.Properties.UndoRedoNames>
    </applicationSettings>
    <userSettings>
        <ChartToJson.Properties.Settings>
            <setting name="Plugins_ImportAllPluginsOnStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastFileLoadedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastImageExportedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="LastJsonExportedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="MEFPluginTemplatesKeysString_Shape" serializeAs="String">
                <value>SHAPE</value>
            </setting>
        </ChartToJson.Properties.Settings>
        <ChartToJson.MEFPlugins>
            <setting name="MEFPlugins_CheckPluginsFolder" serializeAs="String">
                <value>Plugins</value>
            </setting>
        </ChartToJson.MEFPlugins>
    </userSettings>
</configuration>