<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartCanvasNamespace.Properties.ToolTips" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ChartCanvasNamespace.Properties.UndoRedoNames" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="ChartCanvasNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChartCanvasNamespace.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ChartCanvasNamespace.Properties.ToolTips>
            <setting name="ToolTips_EntityConnectingThumb" serializeAs="String">
                <value>Toggle to connect to other entities creating a connection, or to change one end of an existing connection. Maintain shift to show resizing and rotating thumbs</value>
            </setting>
            <setting name="ToolTips_EntityMovingThumb" serializeAs="String">
                <value>Drag and Drop to move Entity. Maintain shift to show resizing and rotating thumbs</value>
            </setting>
            <setting name="ToolTips_LineConnecter" serializeAs="String">
                <value>Toggle to connect to an Entity through an Entity Connecting Thumb</value>
            </setting>
            <setting name="ToolTips_LineConnection" serializeAs="String">
                <value>Connection between two entities</value>
            </setting>
            <setting name="ToolTips_LineDivider" serializeAs="String">
                <value>Press to divide this Connection line in two segments</value>
            </setting>
            <setting name="ToolTips_LineDragger" serializeAs="String">
                <value>Drag and Drop to move this end of the two segments of this line</value>
            </setting>
            <setting name="ToolTips_EntityResizingThumb" serializeAs="String">
                <value>Drag and Drop to move Entity. Release shift to show connecting and moving thumbs</value>
            </setting>
            <setting name="ToolTips_EntityRotatingThumb" serializeAs="String">
                <value>Drag and Drop to rotate Entity. Double click to reset angle. Release shift to show connecting and moving thumbs</value>
            </setting>
        </ChartCanvasNamespace.Properties.ToolTips>
        <ChartCanvasNamespace.Properties.UndoRedoNames>
            <setting name="LineConnection_DivideSegment" serializeAs="String">
                <value>Split line connection</value>
            </setting>
            <setting name="LineConnection_RemoveSegment" serializeAs="String">
                <value>Remove line connection segment</value>
            </setting>
            <setting name="LineConnection_Remove" serializeAs="String">
                <value>Remove line connection</value>
            </setting>
            <setting name="EntityBorder_Move" serializeAs="String">
                <value>Move entity</value>
            </setting>
            <setting name="LineConnection_MoveLineDragger" serializeAs="String">
                <value>Move line connection entity</value>
            </setting>
            <setting name="LineConnection_CreateLine" serializeAs="String">
                <value>Connec entities with line connection</value>
            </setting>
            <setting name="LineConnection_ReconnectLine" serializeAs="String">
                <value>Reconnect line connection end</value>
            </setting>
            <setting name="EntityBorder_Resize" serializeAs="String">
                <value>Resize entity</value>
            </setting>
            <setting name="EntityBorder_Rotation" serializeAs="String">
                <value>Rotate entity</value>
            </setting>
        </ChartCanvasNamespace.Properties.UndoRedoNames>
        <ChartCanvasNamespace.Properties.Settings>
            <setting name="ThumbsSnapRange" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ZIndex_EntityBorder" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ZIndex_EntityConnectingThumb" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ZIndex_EntityMovingThumb" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ZIndex_LinePath" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZIndex_LineHitBox" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ZIndex_LineDragger" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ZIndex_LineDivider" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ZIndex_LineConnecter" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="ZIndex_SnapLine" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ZIndex_Boxes" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ZIndex_EntityShape" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ZIndex_EntityContentUserControl" serializeAs="String">
                <value>10</value>
            </setting>
        </ChartCanvasNamespace.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <ChartCanvasNamespace.Properties.Settings>
            <setting name="LinesSnapMargin" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LinesConnectersYMargin" serializeAs="String">
                <value>20</value>
            </setting>
        </ChartCanvasNamespace.Properties.Settings>
    </userSettings>
</configuration>